body {
  background-color: rgb(243, 243, 243);
}

.duck-gif {
  width: 200px;
  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#nav-header {
  color: black;
}

ul {
  font-size: 20px;
}

p {
  margin: 25px;
  text-align: center;
  font-size: large;
}

h1 {
  margin: 20px;
}

hr {
  width: 20%;
  margin: 0 auto;
}

img {
  width: 30px;
}

.links {
  display: flex;
  justify-content: center;
}

.link-item {
  margin: 20px;
}

img {
  margin: 10px;
}

.card-title {
  text-align: center;
  font-size: 25px;
}

.list {
  display: flex;
  margin: 25px;
}

.list ul {
  list-style: none;
  font-size: 20px;
}

.list li {
  margin: 10px;
}

.list-position {
  display: flex;
  justify-content: center;
}

.nav {
  margin-bottom: 40px;
}
