:root {
    --bg-color: rgb(235, 235, 235);
    --text-color: black;
    --navbar-color: white;
    --projectcard-color: white;
    --hr-color: lightgray;
    --buttontext-color: white;
    --button-color: rgb(200, 200, 200);
    --navbarhover-color: rgb(218, 218, 218);
}

[data-theme="dark"] {
    --bg-color: rgb(70, 70, 70);
    --navbar-color: rgb(90, 90, 90);
    --text-color: black;
    --projectcard-color: rgb(90, 90, 90);
    --hr-color: black;
    --buttontext-color: black;
    --button-color: rgb(90, 90, 90);
    --navbarhover-color: rgb(75, 75, 75);
}

#penguin-image {
    width: 40px;
    margin-right: -140px;
}

body {
    background-color: var(--bg-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.75s ease;
    animation: textfadein 2s;
    
}


.nav-bar {
    display: flex;
    background-color: var(--navbar-color);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 25px;
    font-weight: 400;
    position: fixed;
    top: 0;
    transition: 0.75s ease;
}

.nav-bar a:hover {
    background-color: var(--navbarhover-color);
}

.nav-bar a {
    width: 120px;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-bar-position {
    display: flex;
    justify-content: center;
}

#name {
    font-size: 30px;
    font-weight: bold;
}

.greeting-message {
    font-size: 40px;
    animation: slidefromleft 1.5s ease;
    animation-fill-mode: forwards;
    margin-top: 150px;
}

@keyframes slidefromleft {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 15%;
    }
}

.about-me {
    font-size: 20px;
    margin-left: 300px;
}

@keyframes textfadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.education-and-coursework {
    font-size: 20px;
}

#section-header {
    font-size: 35px;
    text-align: center;
}

hr {
    width: 50%;
    margin-top: 100px;
    border: none;
    height: 2px;
    background-color: var(--hr-color);
    transition: 0.75s ease;
}

.courses-lists {
    display: flex;
}

ul {
    list-style: none;
    font-size: 20px;
}

#course-type-header {
    font-size: 25px;
}

.education-and-coursework {
    display: flex;
    justify-content: space-evenly;
}

.technical-skills-lists {
    display: flex;
    justify-content: center

}

#skills-list li {
    margin: 15px;
}


.project {
    width: 370px;
    height: 250px;
    background-color: var(--projectcard-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.75s ease;
}

img {
    width: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-list {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    width: 750px;
}

.projects-list p {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.projects-list {
    margin-left: 18%;
}

#logo {
    width: 75px;

}

#resume-button {
    background-color: var(--button-color);
    border-radius: 10px;
    color: var(--buttontext-color);
    font-size: 40px;
    text-decoration: none;
    transition: 0.75s ease;
}

.work-section {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: -100px;
}

.links a {
    margin: 35px;
}

#resume-button {
    height: 55px;
    width: 150px;
    text-align: center;
    margin-top: 45px;
}

#personal-website-project {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: 200px;
}

a {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 35px;
}

.dark-mode-switch {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #757575;
}

input:focus + .slider {
    box-shadow: 0 0 1px #757575;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}