body {
  background-color: rgb(241, 252, 255);
}

.duck-gif {
  width: 200px;
  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#nav-header {
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.nav-item {
  border-bottom: 1px rgb(182, 182, 182) solid;
  display: flex;
  align-items: center;
}

#page-button:hover {
  border-bottom: 1px #3284ff solid;
}

ul {
  font-size: 20px;
}

p {
  margin: 25px;
  text-align: center;
  font-size: large;
}

h1 {
  margin: 20px;
}

hr {
  width: 20%;
  margin: 0 auto;
}

img {
  width: 30px;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.link-item {
  margin: 20px;
}

img {
  margin: 10px;
}

.card-title {
  text-align: center;
  font-size: 25px;
}

.list {
  display: flex;
  margin: 25px;
}

.list ul {
  list-style: none;
  font-size: 17px;
}

.list li {
  margin: 10px;
}

.list-position {
  display: flex;
  justify-content: center;
}

.nav {
  margin-bottom: 40px;
}

.card-body p {
  margin: 0;
}

.row {
  margin: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.card {
  border-radius: 10px;
}

#page-card {
  width: 40%;
  height: 100%;
}

.header-icon {
  margin-left: 15px;
}

@media (max-width: 768px) {
  #page-card {
    width: 100%;
  }

  .row {
    margin: 0;
  }

  .col {
    margin: 10px;
  }

  .list {
    flex-direction: column;
    text-align: center;
  }

  .list ul {
    margin-left: -30px;
  }

  .nav {
    margin-top: 25px;
  }

  .links {
    text-align: center;
  }
}
